<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post" th:action="@{/cadastro/salvar}" th:object="${produto}">
    <input type="hidden" id="produtoId" th:field="*{id}">
    <div class="row">
        <div class="form-group ros-req" id="divnomeproduto">
            <label for="nome" class="control-label">Nome</label>
            <input id="nome" class="form-control" type="text" placeholder="Nome"
                   th:field="*{nome}"/>
        </div>
    </div>
    <div class="row">
        <div class="form-group ros-req" id="divdescricaoproduto">
            <label for="descricao" class="control-label">Descricao</label>
            <input id="descricao" class="form-control" type="text" placeholder="Descricao"
                   th:field="*{descricao}"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a th:href="@{/comprador/listar}" class="btn btn-danger">Voltar</a>
            <button type="submit" class="btn btn-success">Salvar e Avançar</button>
        </div>
    </div>
</form>

</body>

</html>