<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<header th:replace="fragments/headerimport.html :: headerimport"></header>
<body class="hold-transition skin-blue sidebar-mini sidebar-collapse" id="body">
<div class="wrapper">
	<header th:replace="fragments/header.html :: header"></header>
	<div th:replace="fragments/menu.html :: menu"></div>
	<div class="content-wrapper">
		<section class="content">
			<!-- CONTEUDO VAI AQUI -->




		</section>
	</div>
	<div class="control-sidebar-bg"></div>
</div>
<div th:replace="modal/alterasenhamodal.html :: alterasenhamodal"></div>
<div th:replace="fragments/footerimport.html :: footerimport"></div>
</body>
</html>